django
django-ninja
daphne
gunicorn
uvicorn
whitenoise
psycopg2-binary
redis
boto3
django-storages
requests
phonenumbers
django-phonenumber-field
django-cors-headers
Pillow
python-dotenv
django-environ
twilio
django-multiselectfield
pydantic-extra-types
channels
pytest
pytest-django
