django
channels
channels_redis
fastapi
uvicorn
daphne
django-ninja
django-cors-headers
django-environ
django-multiselectfield
django-phonenumber-field
django-storages
psycopg2-binary
redis
boto3
botocore
requests
python-dotenv
python-dateutil
pydantic
pydantic-extra-types
phonenumbers
pillow
PyJWT
whitenoise
gunicorn
ujson
msgpack
pytest
pytest-django
Twilio
